package xyz.srclab.common.base;

#foreach($u in $utils)
#foreach($im in $u.imports)
$im
#end
#end

/**
 * Common utilities, collected from
 * {@link FsObject}, {@link FsCheck}, {@link FsString} and etc..
 *
 * @author fredsuvn
 */
public class Fs {
#foreach($u in $utils)

    //$u.desc
    #foreach($m in $u.methods)

        $m
    #end
#end
}