package xyz.srclab.common.base;

#foreach($im in $ims)
import $im;
#end

/**
 * Common utilities, collected from
 * {@link FsObject}, {@link FsCheck}, {@link FsString} and etc..
 *
 * @author fredsuvn
 */
public class Fs {
#foreach($m in $methods)

    #if($m.comment)
    /**
    *$m.comment
    */
    #end
    public static #if($m.typeParams)<#foreach($t in $m.typeParams)$t#if(!$foreach.last), #end#end> #end$m.returnType ${m.methodName}(#if($m.params)#foreach($p in $m.params)$p#if(!$foreach.last), #end#end#end)} {
    {needReturn}{fsName}.{methodName}({args});
    }
#end
}