<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="easy-starter">
  <test name="array">
    <packages>
      <package name="test.xyz.srclab.common.array"/>
    </packages>
  </test>
  <test name="base">
    <packages>
      <package name="test.xyz.srclab.common.base"/>
    </packages>
  </test>
  <test name="beanClass">
    <packages>
      <package name="test.xyz.srclab.common.beanClass"/>
    </packages>
  </test>
  <test name="builder">
    <packages>
      <package name="test.xyz.srclab.common.builder"/>
    </packages>
  </test>
  <test name="cache">
    <packages>
      <package name="test.xyz.srclab.common.cache"/>
    </packages>
  </test>
  <test name="collection">
    <packages>
      <package name="test.xyz.srclab.common.collection"/>
    </packages>
  </test>
  <test name="egg">
    <packages>
      <package name="test.xyz.srclab.common.egg"/>
    </packages>
  </test>
  <test name="exception">
    <packages>
      <package name="test.xyz.srclab.common.exception"/>
    </packages>
  </test>
  <test name="lang">
    <packages>
      <package name="test.xyz.srclab.common.lang"/>
    </packages>
  </test>
  <test name="provider">
    <packages>
      <package name="test.xyz.srclab.common.provider"/>
    </packages>
  </test>
  <test name="reflect">
    <packages>
      <package name="test.xyz.srclab.common.reflect"/>
    </packages>
  </test>
  <test name="state">
    <packages>
      <package name="test.xyz.srclab.common.state"/>
    </packages>
  </test>
  <test name="string">
    <packages>
      <package name="test.xyz.srclab.common.string"/>
    </packages>
  </test>
  <test name="time">
    <packages>
      <package name="test.xyz.srclab.common.time"/>
    </packages>
  </test>
</suite>